@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body{
    color:black;
    background-color: #9CA3AF;
}

header{
    text-align: center;
    background-color: #4b5563;
    padding: 80px 20px;
    color: white;
    font-size: 30px;
}

h1,h2{
    font-family:"Poppins", sans-serif;
}


nav{
    background-color: #4b5563;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

nav a{
    text-decoration: none;
    font-weight:bold;
    transition: 0.3s;
    margin:0 15px;
    font-family:"Poppins", sans-serif;
    color:white;
}

nav a:hover{
    color:black;
}

section{
    background-color: #f3f4f6;
    margin-bottom:30px;
    padding: 30px;
    transition: 0.3s;
    border-radius: 20px;   
    box-shadow: 0 8px 20px #5d5d5d; 
}

section h2{
    text-align: center;
    color: #353a41; 

}

section:hover{
    background-color: white;
}

.desenvolvedores{
    text-align: center;
}

.devs{
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
}

.dev{
    background-color: #4b5563;
    color:white;
    padding: 20px;
    border-radius: 16px;
    border-left: 10px solid #051235;
    transition: 0.3s;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}
.dev:hover{
    box-shadow: 0 10px 18px #1e1e1e;
}

.dicas_uso{
    text-align: center;
}

.dicas{
    display: column;
    gap: 30px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
}

.dica{
    background-color: #4b5563;
    color:white;
    padding: 20px;
    border-radius: 16px;
    border-bottom: 10px solid #051235;
    transition: 0.3s;
    margin-bottom: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}
.dica:hover{
    box-shadow: 0 10px 18px #1e1e1e;
}

footer{
    text-align: center;
    background-color: #4b5563;
    padding:20px;    
}

footer a{
    color: white;
    text-decoration: none;
}

.container{
    padding: 20px;
}